.rectangleDiv,
.rectangleIcon {
  position: absolute;
  border-radius: var(--br-md);
}
.rectangleDiv {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    76.87deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.26)
  );
  backdrop-filter: blur(12px);
}
.rectangleIcon {
  height: 98.33%;
  width: 99.19%;
  top: 0.83%;
  right: 0.4%;
  bottom: 0.83%;
  left: 0.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.1;
  mix-blend-mode: soft-light;
}
.rectangleDiv1 {
  position: absolute;
  height: 1.45%;
  width: 19%;
  top: 48.55%;
  right: 40.33%;
  bottom: 50%;
  left: 40.67%;
  background-color: var(--common-white);
}
.yasunDiv {
  position: absolute;
  height: 28.99%;
  width: 81%;
  top: 18.12%;
  right: 9.33%;
  bottom: 52.9%;
  left: 9.67%;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ecoTourismP {
  margin-block-start: 0;
  margin-block-end: 0;
}
.membershipSubscription {
  margin: 0;
}
.ecoTourismMembershipSubscriContainer {
  line-break: anywhere;
  width: 100%;
}
.ecoTourismMembershipSubscri,
.ecuadorDiv {
  position: absolute;
  height: 28.99%;
  width: 91.67%;
  top: 60.87%;
  right: 4%;
  bottom: 10.14%;
  left: 4.33%;
  font-size: var(--font-size-lg);
  line-height: 140%;
  display: flex;
  align-items: center;
}
.ecuadorDiv {
  height: 13.04%;
  width: 77.57%;
  top: 7.25%;
  right: 9.43%;
  bottom: 79.71%;
  left: 13%;
  font-size: var(--font-size-sm);
  letter-spacing: 2px;
  line-height: 132%;
  text-transform: uppercase;
  font-family: var(--font-abhaya-libre);
  justify-content: center;
  opacity: 0.6;
}
.daintreeDiv,
.tourLineDiv,
.tourLineDiv1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tourLineDiv,
.tourLineDiv1 {
  height: 99.28%;
  width: 99.67%;
  top: 0.72%;
  left: 0.33%;
}
.tourLineDiv1 {
  top: 0;
  right: 0.33%;
  bottom: 0.72%;
  left: 0;
}
.enterProfileButtonDiv {
  position: absolute;
  height: 74.73%;
  width: 75.63%;
  top: 12.37%;
  right: 12.06%;
  bottom: 12.9%;
  left: 12.31%;
  cursor: pointer;
}
.enterProfileContainerDiv {
  position: relative;
  background-color: var(--color-gray-400);
  width: 398px;
  height: 186px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--common-white);
  font-family: var(--font-abhaya-libre-medium);
}
